<!doctype html>
<html lang="kr">
<head>
    <title>인증 성공</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="text-center mt-5">
            <h1>인증 성공!</h1>
            <p class="lead">덕성여자대학교 학우분 반갑습니다 :)</p>
        </div>
    </div>
</body>
</html>